*,
html,
body,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  margin: 20px;
}

li {
  list-style-type: none;
  display: inline;
  padding: 20px;
}

.menu {
  margin-top: 10px;
  font-size: 30px;
}

.logo {
  font-family: sans-serif;
}

.footer {
  position: fixed;
  top: 90%;
  width: 99%;
  height: 50px;
  border: 2px solid;
  margin-left: 8px;
}

.footer-text {
  text-align: center;
  padding: 10px;
}