*,
html,
body,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  margin: 20px;
}

li {
  list-style-type: none;
  display: inline;
  padding: 20px;
}

.menu {
  margin-top: 10px;
  font-size: 30px;
}

.logo {
  font-family: sans-serif;
}

.footer {
  position: fixed;
  top: 90%;
  width: 99%;
  height: 50px;
  border: 2px solid;
  margin-left: 8px;
}

.footer-text {
  text-align: center;
  padding: 10px;
}

.movie-list {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-column-gap: 250px;
  grid-row-gap: 10px;
  margin-left: 100px;  
}

.singleMovie {
  width: 10%;
  height: auto;
}

.show-image {
  width: 600px;
  box-shadow: 1px 5px 10px 1px;
}

.name-like {
  display: grid;
  grid-template-columns: 300px auto auto auto;
  grid-column-gap: 150px;
  padding: 10px;
  background-color: rgb(58, 111, 111);
  width: 599px;
  box-shadow: 1px 1px 10px 1px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: -10px;
  margin-bottom: 5px;
  padding: 20px;
}

.movie-name {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.like-image {
  color: white;
  width: 20px;
  height: 20px;
  margin-left: 30px;
  margin-top: 5px;
}

.num-like {
  margin-left: -140px;
  color: white;
  margin-top: 5px;
}

.text-like {
  position: relative;
  top: -48px;
  left: 548px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btns {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 10px;
  margin-left: 10px;
}

.btn {
  padding: 20px;
  width: 280px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px rgb(5, 138, 23);
  background: rgb(58, 111, 111);
  color: white;
  font-size: 20px;
}

.btn:hover {
  background: blueviolet;
  transform: scale(0.99);
  border-start-end-radius: 80px;
}

.like-image:hover{
  transform: scale(1.2);
  cursor: pointer;
}